{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template   local_infocvuv/privacidad-campus-virtual
    @author     2022 Juan Felipe Orozco Escobar <juanfe.ores@gmail.com>

    The purpose of this template is to render the privacy policies page.

    Context variables required for this template:
    * none

    Example context (json): {}
}}

<div class="infocvuv-privacy-policies">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 class="infocvuv-title">Políticas de Privacidad del Campus Virtual</h3>
            </div>
        </div>

        <div class="infocvuv-divs row p-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p><strong>Apreciado usuario,</strong></p>
                <p>
                    Le informamos que la Universidad del Valle, mediante <a title="Inscripción de cursos en el Campus Virtual" href=https://drive.google.com/file/d/1F4Y7q__RLkCc19AVixcGY3SQusAOicbz/view target="_blank">
                    Resolución de Rectoría No. 2.224 de 2019</a>, <style="text-align:justify;">adopta el Manual de Política de Tratamiento de Información y Protección de Datos Personales de la Universidad del Valle, dando
                    cumplimiento a la Constitución Política de Colombia en su artículo 15, a la Ley 1581 del 2012 de la República de Colombia, y a los Decretos 1377 del 2013 y 886 del 2014 que regulan la mencionada Ley y
                    que actualmente se encuentran contenidos en los capítulos 25 y 26 del Decreto Único Reglamentario 1074 del 2015 del Sector Comercio, Industria y Turismo.
                </p>
                <p>La recolección, almacenamiento, uso, transmisión y, en general, cualquier actividad con sus datos personales, está regida por lo indicado en el mencionado Manual, e implica de una forma resumida que:</p>
                <ul>
                    <li> Sus datos personales serán utilizados para verificar su vinculación (o no) a las actividades académicas que se lleven a cabo a través del Campus Virtual.</li>
                    <li> Sus datos personales no serán compartidos con terceros salvo por las excepciones contenidas en el Cap 2 Art. 6 de la resolución de rectoría No. 2.224 de 2019.</li>
                    <li> Los datos personales provenientes de aplicaciones de terceros que se conectan al Campus Virtual (como Google por ejemplo), sólo serán utilizados como mecanismo de identificación.</li>
                </ul>
            </div>
        </div>

    </div>
</div>
