{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template   local_infocvuv/tutoriales
    @author     2022 Juan Felipe Orozco Escobar <juanfe.ores@gmail.com>
    The purpose of this template is to render the tutorials page.
    Context variables required for this template:
    * student_icon              Image URL with student icon from pix directory
    * student_icon_alt          Alternative text for the student icon image
    * professor_icon            Image URL with professor icon from pix directory,
    * professor_icon_alt        Alternative text for the professor icon image
    Example context (json):
    {
        "student_icon": "https://path/to/moodle/theme/image.php?theme=mooveuv&amp;component=local_infocvuv&amp;image=student",
        "student_icon_alt": "Student tutorials icon"
        "professor_icon": "https://path/to/moodle/theme/image.php?theme=mooveuv&amp;component=local_infocvuv&amp;image=professor",
        "professor_icon_alt": "Professor tutorials icon"
    }
}}

<div class="infocvuv-tutorials">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 class="infocvuv-title">{{#str}} tutorials, local_infocvuv {{/str}}</h3>
            </div>
        </div>

        {{! Student tutorials }}
        <div class="infocvuv-divs row p-3">
            <div class="infocvuv-icon mr-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-1">
                <img src="{{student_icon}}" alt="{{student_icon_alt}}">
            </div>
            <div class="text-content-tutorials-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                <h4 class="infocvuv-subtitle">{{#str}} students, local_infocvuv {{/str}}</h4>
                <ul class="mt-3 students-content no_bullet" id="link-list">
                    <li><a href="https://proxse16.univalle.edu.co/~secretariageneral/consejo-superior/reglamento-estudiantil/acuerdo%20009.pdf" target="_blank">{{#str}} student_regulations, local_infocvuv {{/str}}</a></li>
                </ul>
                <form id="link-form" method="post" action="saveForm.php">
		        <div class="infocvuv-form">
			        <label for="link-name">Ingresa el nombre del link:</label>
			        <input type="text" id="link-name" name="link-name" class="label-form">

			        <label for="link-url">Ingresa la URL:</label>
			        <input type="text" id="link-url" name="link-url" class="label-form">

                    <label for="link-text">Ingresa la ubicacion de la URL:</label>
                    <select name="context" link-text class="combobox-form">
                        <option value="estudiantes" selected>estudiantes</option>
                        <option value="usuarios">usuarios</option>
                        <option value="recursos y actividades">recursos y actividades</option>
                        <option value="cursos">cursos</option>
                        <option value="cuestionarios">cuestionarios</option>
                    </select>
		        </div>
		            <button type="submit" class="button-form">Agregar link</button>
	            </form>
            </div>
        </div>
        {{! Professor tutorials }}
        <div class="infocvuv-divs row mt-3 p-3">
            <div class="infocvuv-icon mr-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-1">
                <img src="{{professor_icon}}" alt="{{professor_icon_alt}}">
            </div>
            <div class="text-content-tutorials-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                <h4 class="infocvuv-subtitle">{{#str}} professors, local_infocvuv {{/str}}</h4>
                <p class="mt-3 subtitle-teachers">{{#str}} professors_desc, local_infocvuv {{/str}}</p>

                {{! Users and Courses}}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} users, local_infocvuv {{/str}}</li>
                            <ul class="topic-category" id="link-list-2">
                                <li> <a href="https://drive.google.com/file/d/19nD4IN1XA7jnWBYac_w21sLNAOwEiAsv" target="_blank">{{#str}} users_enter_cv, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1lq-Zxw35EPgA6JFmcHApnq2hSeOF8Wmv" target="_blank">{{#str}} users_restore_password, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1RtAd_vzGBkEZu5GWC_wYGODC_GWRuuef" target="_blank">{{#str}} users_change_password, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1gd67tXTEHVxudbp5_DNJa80o9y_JlJZK" target="_blank">{{#str}} users_enroll_student, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/11Gklvk8MtAMTPpj-WL1Ak-N2bDmpM7yx" target="_blank">{{#str}} users_unenroll_student, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1He2t1EaBdMAnas5dUR6bvdzcf0YE3g6j" target="_blank">{{#str}} users_change_user_rol, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1n7KN71PDzA5V8a8kCpIJkrZOKll8epiC" target="_blank">{{#str}} users_create_groups, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1i2jFk9Sw3kAhjpFQZYD0zSYGyzaw8x7s" target="_blank">{{#str}} users_read_messages, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/11Gklvk8MtAMTPpj-WL1Ak-N2bDmpM7yx" target="_blank">{{#str}} users_delete_user, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1gd67tXTEHVxudbp5_DNJa80o9y_JlJZK" target="_blank">{{#str}} users_add_user, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} courses, local_infocvuv {{/str}}</li>
                            <ul class="topic-category" id="link-list-3">
                                <li> <a href="https://drive.google.com/file/d/15--xWdsPyiJSvE1nhUBcEHcBg4r0eWPT" target="_blank">{{#str}} courses_create_course, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1jd-ZGue4is-NYaBf-_lRr_a3ugWF7aY_" target="_blank">{{#str}} courses_restart_course, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1iL3gvInCPTmc_TYpp8wjHR0x0MsvjTiU" target="_blank">{{#str}} courses_configure_course, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/14yYTRAhzT8qGhVSDs1kCLBVT4nW-40Vt" target="_blank">{{#str}} courses_add_delete_section, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1u1vDYu5r-rmcDfMS6tyKh_N-QID2ZVgh" target="_blank">{{#str}} courses_free_space, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1YoIWKGzXIoI8TAobgGpjySS4EEMyfaHh" target="_blank">{{#str}} courses_import_data, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/17UQdRNGP6AizbJdfkyGZHecOgSUykELZ" target="_blank">{{#str}} courses_tabs_with_restrictions, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1TUYilVLOo6xJ4LCRTgSOMeBoO1j1MkCj" target="_blank">{{#str}} courses_export_students_to_excel, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1UYgOSR30erZxAL5I3yiIr2mM7CbQVt7_" target="_blank">{{#str}} courses_import_courses, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>

                {{! Resources and Questionnaires }}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} resources, local_infocvuv {{/str}}</li>
                            <ul class="topic-category" id="link-list-4">
                                <li> <a href="https://drive.google.com/file/d/1aITf5Nt2dEZLN0txx4Evok4NacKA4ZqF" target="_blank">{{#str}} resources_concepts, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1zKj_XqlYSxIjOzGqB_OeEfI4xmYPDLH4" target="_blank">{{#str}} resources_create_assignment, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1EJJp1WPpvqMpCYSFaN2Z54hbB-9YW1Tr" target="_blank">{{#str}} resources_assignment_with_restrictions, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/12C5Uh5VF7FY3eDh7E1EPhH_r1Q165VZe" target="_blank">{{#str}} resources_file, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1pxa8rbTCWT9ee13XdqHtE182l-5eElc0" target="_blank">{{#str}} resources_private_files, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1m-6fzgtlTUBPpB_pquR4eCp3GBa8ni7Z" target="_blank">{{#str}} resources_url, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1Irlvq4ZU3lG-QlVXEVX0tPwxcZ8psBAD" target="_blank">{{#str}} resources_forum, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1-qwUtVvxo9vyB10xztG2Sf2_LQq29v3v" target="_blank">{{#str}} resources_duplicate, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1bmASn_z51XDli_7tVoEA_ZoEfJ2w3JGm" target="_blank">{{#str}} resources_chat, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1DMvTyeBceug8NZsp9W1MmG9Him0FzC-N" target="_blank">{{#str}} resources_latex, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} questionnaires, local_infocvuv {{/str}}</li>
                            <ul class="topic-category" id="link-list-5">
                                <li> <a href="https://drive.google.com/file/d/1c1yHehHH-Qq6M9Pmi-UZWFegnY2gNvrm" target="_blank">{{#str}} questionnaires_questionnaire, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1HpP5ot3agTSrehPZXU6hAJC5QqzTAAkh" target="_blank">{{#str}} questionnaires_question_bank, local_infocvuv {{/str}}</a></li>
                                <li> <a href="https://drive.google.com/file/d/1AX3BhbmBs7p8rD4SeQzzlCjfbHliXWyp" target="_blank">{{#str}} questionnaires_add_questions_to_questionnaire, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="app.js"></script>
