{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template local_infocvuv/tutoriales

    Tutoriales page.

    The purpose of this template is to render the tutorials on a page.
}}

<div class="infocvuv-tutorials">
    <div class="container">

        <div class="row justify-content-center">
            <h3 id="title-page">{{#str}} tutorials, local_infocvuv {{/str}}</h3>
        </div>

        {{! Student tutorials }}
        <div class="row p-3 align-items-sm-center tutorials-content">
            <div class="tutorials-icon mr-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-1">
                <img src="{{students_icon}}" alt="{{students_icon_alt}}" class="ico-content-tutorials">
            </div>
            <div class="text-content-tutorials-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                <h4 class="subtitle-content-tutorials">{{#str}} students, local_infocvuv {{/str}}</h4>
                <ul class="mt-3 students-content no_bullet">
                    <li> <a href="{{student_regulations_url}}" target="_blank">{{#str}} student_regulations, local_infocvuv {{/str}}</a></li>
                    <li> <a href="{{student_tutorial_url}}" target="_blank">{{#str}} student_tutorial, local_infocvuv {{/str}}</a></li>
                </ul>
            </div>
        </div>

        {{! Professors tutorials }}
        <div class="row mt-3 p-3 tutorials-content">
            <div class="tutorials-icon mr-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-1">
                <img src="{{professors_icon}}" alt="{{professors_icon_alt}}" class="ico-content-tutorials">
            </div>
            <div class="text-content-tutorials-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                <h4 class="subtitle-content-tutorials">{{#str}} professors, local_infocvuv {{/str}}</h4>
                <p class="mt-3 subtitle-teachers">{{#str}} professors_desc, local_infocvuv {{/str}}</p>

                {{! Users and Courses}}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} users, local_infocvuv {{/str}}</li>
                            <ul class="topic-category">
                                <li> <a href="{{users_enter_cv_url}}" target="_blank">{{#str}} users_enter_cv, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_restore_password_url}}" target="_blank">{{#str}} users_restore_password, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_change_password_url}}" target="_blank">{{#str}} users_change_password, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_enroll_student_url}}" target="_blank">{{#str}} users_enroll_student, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_unenroll_student_url}}" target="_blank">{{#str}} users_unenroll_student, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_change_user_rol_url}}" target="_blank">{{#str}} users_change_user_rol, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_create_groups_url}}" target="_blank">{{#str}} users_create_groups, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{users_read_messages_url}}" target="_blank">{{#str}} users_read_messages, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} courses, local_infocvuv {{/str}}</li>
                            <ul class="topic-category">
                                <li> <a href="{{courses_create_course_url}}" target="_blank">{{#str}} courses_create_course, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_restart_course_url}}" target="_blank">{{#str}} courses_restart_course, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_configure_course_url}}" target="_blank">{{#str}} courses_configure_course, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_add_delete_section_url}}" target="_blank">{{#str}} courses_add_delete_section, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_free_space_url}}" target="_blank">{{#str}} courses_free_space, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_import_data_url}}" target="_blank">{{#str}} courses_import_data, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_tabs_with_restrictions_url}}" target="_blank">{{#str}} courses_tabs_with_restrictions, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{courses_export_students_to_excel_url}}" target="_blank">{{#str}} courses_export_students_to_excel, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>

                {{! Resources and Questionnaires }}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} resources, local_infocvuv {{/str}}</li>
                            <ul class="topic-category">
                                <li> <a href="{{resources_concepts_url}}" target="_blank">{{#str}} resources_concepts, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_create_assignment_url}}" target="_blank">{{#str}} resources_create_assignment, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_assignment_with_restrictions_url}}" target="_blank">{{#str}} resources_assignment_with_restrictions, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_file_url}}" target="_blank">{{#str}} resources_file, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_private_files_url}}" target="_blank">{{#str}} resources_private_files, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_url_url}}" target="_blank">{{#str}} resources_url, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_forum_url}}" target="_blank">{{#str}} resources_forum, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_duplicate_url}}" target="_blank">{{#str}} resources_duplicate, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_chat_url}}" target="_blank">{{#str}} resources_chat, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{resources_latex_url}}" target="_blank">{{#str}} resources_latex, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="no_bullet mt-3">
                            <li class="tutorials-category">{{#str}} questionnaires, local_infocvuv {{/str}}</li>
                            <ul class="topic-category">
                                <li> <a href="{{questionnaires_questionnaire_url}}" target="_blank">{{#str}} questionnaires_questionnaire, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{questionnaires_question_bank_url}}" target="_blank">{{#str}} questionnaires_question_bank, local_infocvuv {{/str}}</a></li>
                                <li> <a href="{{questionnaires_add_questions_to_questionnaire_url}}" target="_blank">{{#str}} questionnaires_add_questions_to_questionnaire, local_infocvuv {{/str}}</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
